<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.auto.will.alarmclock">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ScrollingActivity"/>
        <activity android:name=".AlarmingActivity" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AlarmSettingsActivity"
            android:label="Set Alarm" />
        <activity
            android:name=".AlarmReSettingsActivity"
            android:label="Edit Alarm" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>